*{
	margin: 0px;
	padding: 0px;
}

#wrapper{
	margin: 30px auto auto auto;
	width: 668px;
	border: 1px solid #182b3f;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("calendar.jpg");
	background-size: 100%;
}

h1{
	color: #182b3f;
	font-size: 35px;
}

table{
	border: 1px solid #182b3f;
	background-color: white;
}

tr, th, td{
	text-align: center;
	padding: 10px;
	border: 1px solid #182b3f;
	color: #182b3f;
}

th{
	font-size: 19px;
}

a{
	text-decoration: none;
	font-size: 15px;
	border: none;
}

form{
	color: #182b3f;
}

.logout{
	font-weight: bold;
	font-size: 26px;
	color: #7788ee;
	text-decoration: underline;
}

.button{
	color: #182b3f;
	font-weight: bold;
	font-size: 12px;
	background-color: #eaedfc;
	border: 1px solid black;

}

button{
	padding: 10px;
	background-color: #eaedfc;
    border: 1px solid #182b3f;
}

.add{
	border: none;
	background-color: #ffffff;
	color: #182b3f;
	font-weight: bold;
	font-size: 12px;
}

.input{
	padding: 5px;
}

a.button {
	border: none;
}




